.form {
    background-color: #333A44;
    height: 438px;

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo-link {
        margin-top: 64px;
        display: inline-block;
    }

    &__list {
        list-style: none;
        text-align: center;
    }
    &__item{
        margin-top: 16px;
    }
    &__item:nth-child(2){
        margin-top: 40px;
    }

    &__link {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        text-decoration: none;
    }
    &__link:hover{
        color: #FCB72B;
    }
    &__span{
        margin-top: 85px;
    }
}
.fa-brands{
    color: #FCB72B;
    padding: 12px;
}
@media only screen and (min-width: 768px) {
    .form{
        height: 96px;
        &__nav{
            padding: 22px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
           
        }
        &__list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        &__logo-link{
            margin-top: 0;
        }
        &__item{
            margin-top: 0;
            margin-left: 32px;
        }
        &__item:nth-child(2){
            margin-top: 0;
            margin-left: 58px;
        }
        &__span{
            margin-top: 0;
        }
    } 
    
}